<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
               http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <import resource="applicationContext-web.xml"/>
    <import resource="applicationContext-persistence.xml"/>

    <context:component-scan base-package="net.petrikainulainen.springdata.jpa.common"/>
    <context:component-scan base-package="net.petrikainulainen.springdata.jpa.todo"/>
    <context:component-scan base-package="net.petrikainulainen.springdata.jpa.web"/>

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="i18n/messages"/>
        <property name="useCodeAsDefaultMessage" value="true"/>
    </bean>

    <beans profile="application">
        <context:property-placeholder location="classpath:application.properties"/>

        <bean id="dateTimeService"
              class="net.petrikainulainen.springdata.jpa.common.CurrentTimeDateTimeService"/>

        <bean id="propertyPlaceHolderConfigurer"
              class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"/>
    </beans>

    <beans profile="integrationtest">
        <context:property-placeholder location="classpath:integration-test.properties"/>

        <bean id="dateTimeService"
              class="net.petrikainulainen.springdata.jpa.common.ConstantDateTimeService"/>

        <bean id="propertyPlaceHolderConfigurer"
              class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"/>
    </beans>
</beans>