<div class="modal-header">
    <h4 class="modal-title" translate="dialogs.delete.dialog.title"></h4>
</div>
<div class="modal-body">
    <p translate="dialogs.delete.dialog.text" translate-values="{title: todoEntry.title}"></p>
</div>
<div class="modal-footer">
    <button type="button"
            class="btn btn-default"
            data-dismiss="modal"
            translate="dialogs.delete.dialog.cancel.button.label"
            ng-click="cancel()"></button>
    <button type="button"
            class="btn btn-danger"
            translate="dialogs.delete.dialog.delete.button.label"
            ng-click="delete()"></button>
</div>